<div class='exchange_box col-sm-12'>
  <div class='card'>

    <div class='card-header text-center'>
      Simule sua conversão
    </div>

    <div class='card-block'>
      <%= form_tag('/convert', method: :get, id: 'exchange_form') do %>
        <div class='local_currency'>
          <div class='form-group'>
            <p class='title'>Moeda Local</p>
            <%= select_tag 'from_currency', options_for_select(currency_list, 'BRL'), class: 'form-control', id: 'from_currency' %>
          </div>

          <div class='form-group'>
            <input type='number' name='amount' id='amount' class='form-control' placeholder='$$$' step='any' required>
          </div>
        </div>
                    
        <div class='destination_currency'>
          <div class='form-group'>
            <p class='title'>Moeda Desejada</p>
              <%= select_tag 'to_currency', options_for_select(currency_list, 'EUR'), class: 'form-control', id: 'to_currency'%>
          </div>
          <div class='form-group'>
            <%= fa_stacked_icon "exchange alt", class: "fa-2x", id: 'change-currency' %>
           <p class='title'>Inverter Moedas</p>
          </div>
         </div>

          <div class='form-group'>
            <input type='text' id='result' name='result' class='form-control' placeholder='Resultado' readonly>
          </div>
        </div>
        <div>
          <button name='convert' id='convert' type='submit' class='btn btn-primary btn-exchange col-md-12' style='display:none;'>CONVERTER</button>
        </div>
      <% end %>
    </div>
  </div>
</div>