<div class='container'>
  <div class='row main'>
    <div class='col-md-auto exchange_box title-box'>
      <div class='row'>
        <h2 class='subtitle'>Converta facilmente suas Moedas</h2>
      </div>
      <div>
         <h3 class='subtitle'>Para qualquer moeda no Mundo!</h3>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 offset-md-4 col-sm-4 text-sm-center'>
      <%= image_tag '/logo.png', class: 'img-fluid'%>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-4 offset-md-4 col-sm-4 text-sm-center'>
      <%= render 'exchange_box' %>
    </div>
  </div>
  </div>
</div>